<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="KucunMapper">

    <!--表名 -->
    <sql id="tableName">
		ERP_KUCUN
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		KUCUN_ID,
		GOODS_ID,
		ZCOUNT,
		PRICE,
		ZPRICE,
		GOODS_NAME,
		SPTYPE_ID,
		SPUNIT_ID,
		SPBRAND_ID
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{KUCUN_ID},
		#{GOODS_ID},
		#{ZCOUNT},
		#{PRICE},
		#{ZPRICE},
		#{GOODS_NAME},
		#{SPTYPE_ID},
		#{SPUNIT_ID},
		#{SPBRAND_ID}
	</sql>

    <!-- 新增-->
    <insert id="save" parameterType="pd">
        insert into
        <include refid="tableName"></include>
        (
        <include refid="Field"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>

    <!-- 删除-->
    <delete id="delete" parameterType="pd">
        delete from
        <include refid="tableName"></include>
        where
        KUCUN_ID = #{KUCUN_ID}
    </delete>

    <!-- 修改 -->
    <update id="edit" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        KUCUN_ID = #{KUCUN_ID},
        GOODS_ID = #{GOODS_ID},
        ZCOUNT = #{ZCOUNT},
        PRICE = #{PRICE},
        ZPRICE = #{ZPRICE},
        GOODS_NAME = #{GOODS_NAME},
        SPTYPE_ID = #{SPTYPE_ID},
        SPUNIT_ID = #{SPUNIT_ID},
        SPBRAND_ID = #{SPBRAND_ID}
        where
        KUCUN_ID = #{KUCUN_ID}
    </update>

    <!-- 修改库存 -->
    <update id="editKuCun" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        ZCOUNT =  #{ZCOUNT}
        where
        KUCUN_ID = #{KUCUN_ID}
    </update>

    <!-- 通过ID获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        KUCUN_ID = #{KUCUN_ID}
    </select>

    <!-- 通过goodsID获取数据 -->
    <select id="findforgoodsId" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        GOODS_ID = #{GOODS_ID}
    </select>

    <!-- 通过ID获取数据(查看详细信息) -->
    <select id="findByIdToCha" parameterType="pd" resultType="pd">
        select
        a.KUCUN_ID,
        a.GOODS_ID,
        a.ZCOUNT,
        a.PRICE,
        a.ZPRICE,
        a.GOODS_NAME,
        a.SPTYPE_ID,
        b.NAME BNAME,
        c.NAME TNAME,
        d.NAME UNAME
        from
        <include refid="tableName"></include>
        a
        left join cp_spbrand b
        on a.SPBRAND_ID = b.SPBRAND_ID
        left join cp_sptype c
        on a.SPTYPE_ID = c.SPTYPE_ID
        left join cp_spunit d
        on a.SPUNIT_ID = d.SPUNIT_ID
        where
        a.KUCUN_ID = #{KUCUN_ID}
    </select>

    <!-- 列表 -->
    <select id="datalistPage" parameterType="page" resultType="pd">
        select
        a.KUCUN_ID,
        a.GOODS_ID,
        a.ZCOUNT,
        a.PRICE,
        a.ZPRICE,
        a.GOODS_NAME,
        a.SPTYPE_ID,
        b.NAME BNAME,
        C.NAME TNAME,
        d.NAME UNAME
        from
        <include refid="tableName"></include>
        a
        left join cp_spbrand b
        on a.SPBRAND_ID = b.SPBRAND_ID
        left join cp_sptype c
        on a.SPTYPE_ID = c.SPTYPE_ID
        left join cp_spunit d
        on a.SPUNIT_ID = d.SPUNIT_ID
        where 1=1
        <if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
            and
            a.GOODS_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
        </if>
        <if test="pd.SPBRAND_ID!= null and pd.SPBRAND_ID != ''">
            and a.SPBRAND_ID = #{pd.SPBRAND_ID}
        </if>
        <if test="pd.SPTYPE_ID!= null and pd.SPTYPE_ID != ''">
            and a.SPTYPE_ID = #{pd.SPTYPE_ID}
        </if>
        <if test="pd.isKucun!= null and pd.isKucun != ''">
            order by a.ZCOUNT
        </if>
    </select>
    <!-- 列表 -->
    <select id="findforobject" parameterType="page" resultType="pd">
        select
          <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where 1=1 AND
        GOODS_NAME = #{GOODS_NAME}
        AND
        PRICE = #{PRICE}
    </select>

    <!-- 列表(全部) -->
    <select id="listAll" parameterType="pd" resultType="pd">
        select
        a.KUCUN_ID,
        a.GOODS_ID,
        a.ZCOUNT,
        a.PRICE,
        a.ZPRICE,
        a.GOODS_NAME,
        a.SPTYPE_ID,
        b.NAME
        from
        <include refid="tableName"></include>
        a
        left join cp_spunit b
        on a.SPUNIT_ID = b.SPUNIT_ID
        order by a.ZCOUNT desc
    </select>


    <!-- 批量删除 -->
    <delete id="deleteAll" parameterType="String">
        delete from
        <include refid="tableName"></include>
        where
        KUCUN_ID in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
</delete>

    <!-- 商品入库，增加库存 -->
    <update id="editZCOUNT" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        ZCOUNT = ZCOUNT + #{INCOUNT}
        where
        KUCUN_ID = #{KUCUN_ID}
    </update>

    <!-- 总金额 -->
    <select id="priceSum" parameterType="pd" resultType="pd">
        select
        sum(ZPRICE) ZPRICE
        from
        <include refid="tableName"></include> a
        left join cp_goods b
        on a.GOODS_ID = b.GOODS_ID
        where 1=1
        <if test="keywords!= null and keywords != ''"><!-- 关键词检索 -->
            and
            (
            b.TITLE LIKE CONCAT(CONCAT('%', #{keywords}),'%')
            )
        </if>
        <if test="lastStart!=null and lastStart!=''"><!-- 开始时间检索 -->
            and a.INTIME &gt;= #{lastStart}
        </if>
        <if test="lastEnd!=null and lastEnd!=''"><!-- 结束时间检索 -->
            and a.INTIME &lt;= #{lastEnd}
        </if>

    </select>

</mapper>