<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SaleMapper">
	
	<!--表名 -->
	<sql id="tableName">
		ERP_SALE
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		SALE_ID,
		GOODS_ID,
		SALECOUNT,
		PRICE,
		ZPRICE,
		SALETIME,
		GOODS_NAME,
		USERNAME,
		ZHEKOU
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{SALE_ID},
		#{GOODS_ID},
		#{SALECOUNT},
		#{PRICE},
		#{ZPRICE},
		#{SALETIME},
		#{GOODS_NAME},
		#{USERNAME},
		#{ZHEKOU}
	</sql>

	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		WHERE USERNAME = #{USERNAME}
	</select>

	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where
		SALE_ID = #{SALE_ID}
	</select>

	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>

	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
		SALE_ID = #{SALE_ID}
	</delete>


	<!-- 删除-->
	<delete id="deleteAll" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
		USERNAME = #{USERNAME}
	</delete>

	<!--计算该销售清单的总价-->
	<select id="priceSum" parameterType="pd" resultType="pd">
		select
		sum(ZPRICE) SALEPRICE
		from
		<include refid="tableName"></include>
		where 1=1
		AND
		USERNAME = #{USERNAME}

	</select>

</mapper>