<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WeightMapper">
	
	<!--表名 -->
	<sql id="tableName">
		ERP_WEIGHT
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		WEIGHT_ID,
		GOODS_ID,
		WBIANMA,
		WEIGHT,
		WPRICE,
		WZPRICE,
		GOODS_NAME,
		CREATEDTIME
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{WEIGHT_ID},
		#{GOODS_ID},
		#{WBIANM},
		#{WEIGHT},
		#{WPRICE},
		#{WZPRICE},
		#{GOODS_NAME},
		#{CREATEDTIME}
	</sql>



	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where
		WEIGHT_ID = #{WEIGHT_ID}
	</select>
	<!-- 通过编码获取数据 -->
	<select id="findByBm" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where
		WBIANMA = #{WBIANMA}
	</select>

	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
		WEIGHT_ID = #{WEIGHT_ID}
	</delete>

</mapper>